/* Free Delivery Banner Animation */
.free-delivery-banner {
    background-color:#4a752c;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideDown 1s ease-in-out, float 3s ease-in-out infinite;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  /* Additional Animation for Hero Section */
  